<div class="banner">
  <div class="container text-center">
    <h1 class="heading">Welcome to Your Garage</h1>
    <%= link_to cars_path, class: "btn btn-ghost" do %>
      <i class="fa-solid fa-car"></i> Click to Enter Your Garage
    <% end %>
  </div>
</div>

<footer class="footer">
  <p>&copy; <%= Time.current.year %> YourGarge.com. All rights reserved.</p>
</footer>
